#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 1px solid #ededed;
  object-fit: cover;
}

/* Banner Swiper */
#Main-Banner-Swiper > .swiper {
  width: 100%;
  height: 100%;
}

#Main-Banner-Swiper > div > div.swiper-wrapper > div.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#Main-Banner-Swiper > div > div.swiper-wrapper > div.swiper-slide > img {
  display: block;
  padding: 0 5% ;
  border-radius: unset;
  width: 100%;
  height: 96px;
  border: none;
  object-fit: fill;
}